<div class="container mt-5">
  <!-- Alertas de éxito y error -->
  <div *ngIf="mostrarMensajeExito" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>¡Operación exitosa!</strong> La acción se completó correctamente.
    <button type="button" class="btn-close" (click)="mostrarMensajeExito = false" aria-label="Close"></button>
  </div>
  
  <div *ngIf="mostrarMensajeError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>¡Error!</strong> {{mensajeError}}
    <button type="button" class="btn-close" (click)="mostrarMensajeError = false" aria-label="Close"></button>
  </div>

  <h2 class="mb-4">Registro de Pago</h2>
  <form [formGroup]="pagoForm" (ngSubmit)="onSubmit()">
    
    <!-- Sección Cliente -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        Datos del Cliente
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="cliente_dni" class="form-label">DNI Cliente</label>
            <div class="input-group">
              <input type="text" class="form-control" id="cliente_dni" formControlName="cliente_dni" 
                     [ngClass]="{'is-invalid': campoNoValido('cliente_dni')}">
              <button class="btn btn-outline-secondary" type="button" (click)="buscarCliente()">Buscar</button>
              <div *ngIf="campoNoValido('cliente_dni')" class="invalid-feedback">
                {{ getMensajeError('cliente_dni') }}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="cliente_nombre" class="form-label">Nombre Cliente</label>
            <input type="text" class="form-control" id="cliente_nombre" formControlName="cliente_nombre" readonly
                   [ngClass]="{'is-invalid': campoNoValido('cliente_nombre')}">
            <div *ngIf="campoNoValido('cliente_nombre')" class="invalid-feedback">
              {{ getMensajeError('cliente_nombre') }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="cliente_cartera" class="form-label">Cartera</label>
            <input type="text" class="form-control" id="cliente_cartera" formControlName="cliente_cartera" readonly
                   [ngClass]="{'is-invalid': campoNoValido('cliente_cartera')}">
            <div *ngIf="campoNoValido('cliente_cartera')" class="invalid-feedback">
              {{ getMensajeError('cliente_cartera') }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="cliente_numero_producto" class="form-label">Número de Producto</label>
            <input type="text" class="form-control" id="cliente_numero_producto" formControlName="cliente_numero_producto" readonly
                   [ngClass]="{'is-invalid': campoNoValido('cliente_numero_producto')}">
            <div *ngIf="campoNoValido('cliente_numero_producto')" class="invalid-feedback">
              {{ getMensajeError('cliente_numero_producto') }}
            </div>
          </div>
        </div>
        <!--barra-->
        <div *ngIf="isSearchingClient" class="progress mt-3">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 100%">
            Buscando cliente... 
          </div>
        </div>
        
      </div>
    </div>
    
    <!-- Sección Asesor -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        Datos del Asesor
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="asesor_dni" class="form-label">DNI Asesor</label>
            <div class="input-group">
              <input type="text" class="form-control" id="asesor_dni" formControlName="asesor_dni" readonly
                     [ngClass]="{'is-invalid': campoNoValido('asesor_dni')}">
              <button class="btn btn-outline-secondary" type="button" (click)="abrirModalAsesores()">Asesores</button>
              <div *ngIf="campoNoValido('asesor_dni')" class="invalid-feedback">
                {{ getMensajeError('asesor_dni') }}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="asesor_nombre" class="form-label">Nombre Asesor</label>
            <input type="text" class="form-control" id="asesor_nombre" formControlName="asesor_nombre" readonly
                   [ngClass]="{'is-invalid': campoNoValido('asesor_nombre')}">
            <div *ngIf="campoNoValido('asesor_nombre')" class="invalid-feedback">
              {{ getMensajeError('asesor_nombre') }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="asesor_rango" class="form-label">Rango</label>
            <input type="text" class="form-control" id="asesor_rango" formControlName="asesor_rango" readonly
                   [ngClass]="{'is-invalid': campoNoValido('asesor_rango')}">
            <div *ngIf="campoNoValido('asesor_rango')" class="invalid-feedback">
              {{ getMensajeError('asesor_rango') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sección Encargado -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        Datos del Encargado
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="encargado_username" class="form-label">Username</label>
            <input type="text" class="form-control" id="encargado_username" formControlName="encargado_username" readonly>
          </div>
          <div class="col-md-6">
            <label for="encargado_nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="encargado_nombre" formControlName="encargado_nombre" readonly>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sección Pago -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        Datos del Pago
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="fecha_voucher" class="form-label">Fecha Voucher</label>
            <input type="date" class="form-control" id="fecha_voucher" formControlName="fecha_voucher"
                   [ngClass]="{'is-invalid': campoNoValido('fecha_voucher')}">
            <div *ngIf="campoNoValido('fecha_voucher')" class="invalid-feedback">
              {{ getMensajeError('fecha_voucher') }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="tipo_pago" class="form-label">Tipo de Pago</label>
            <select class="form-select" id="tipo_pago" formControlName="tipo_pago"
                    [ngClass]="{'is-invalid': campoNoValido('tipo_pago')}">
              <option value="">Seleccionar...</option>
              <option value="POLITICA">POLITICA</option>
              <option value="EXCEPCION">EXCEPCION</option>
              <option value="PARCIAL">PARCIAL</option>
              <option value="CONVENIO">CONVENIO</option>
            </select>
            <div *ngIf="campoNoValido('tipo_pago')" class="invalid-feedback">
              {{ getMensajeError('tipo_pago') }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="importe" class="form-label">Importe</label>
            <input type="number" step="0.01" class="form-control" id="importe" formControlName="importe"
                   [ngClass]="{'is-invalid': campoNoValido('importe')}">
            <div *ngIf="campoNoValido('importe')" class="invalid-feedback">
              {{ getMensajeError('importe') }}
            </div>
          </div>
         
         
          <!---->
          <div class="mb-3">
            <label for="voucherFile" class="form-label">Subir Voucher</label>
            <input type="file" class="form-control" id="voucherFile" (change)="onFileSelected($event)"
                   [ngClass]="{'is-invalid': campoNoValido('voucher_link')}">
            <div *ngIf="campoNoValido('voucher_link')" class="invalid-feedback">
              Es necesario adjuntar un voucher
            </div>
          </div>
          <div class="col-md-6">
            <label for="voucher_link" class="form-label">Link del Voucher</label>
            <input type="url" class="form-control" id="voucher_link" formControlName="voucher_link" readonly>
          </div>
          <!-- Vista previa de la imagen -->
          <div *ngIf="imagePreview" class="mb-3">
            <p>¿Seguro de subir esta imagen?</p>
            <img [src]="imagePreview" alt="Vista previa" class="img-thumbnail" style="max-height: 200px;">
            <div class="mt-2">
              <button type="button" class="btn btn-warning me-2" (click)="confirmarSubida()">Sí</button>
              <button type="button" class="btn btn-secondary" (click)="cancelarSubida()">Cancelar</button>
            </div>
          </div>
          
          <div *ngIf="isUploading" class="progress mt-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%">
              Subiendo voucher a Drive...
            </div>
          </div>
          
          <!---->
        </div>
      </div>
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary me-md-2">Registrar Pago</button>
      <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Limpiar</button>
    </div>
  </form>

  <!-- Botón para cerrar sesión -->
  <a href="#" (click)="cerrarSesion()" class="btn btn-danger mt-3">Cerrar Sesión</a>
</div>